* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: inherit;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  nav {
    padding-top: 65px;
    padding-bottom: 184px;
    .n-r-ul {
      gap: 72px;
      li {
        font-size: 18px;
        color: #fff;
      }
      button {
        width: 182px;
        height: 58px;
        background-color: inherit;
        border: 3px solid #ea36e3;
        border-radius: 32px;
        color: #fff;
      }
    }
    .n-l {
      gap: 15px;
      p {
        color: #261163;
        font-size: 28px;
        font-weight: 700;
      }
    }
  }

  .main {
    .left__main-block {
      h1 {
        max-width: 550px;
        font-size: 60px;
        font-weight: 700;
        color: #261163;
      }
      .left__main-block-p {
        margin-top: 49px;
        color: #ea36e3;
        margin-bottom: 39px;

        & + p {
          color: #a7a7a7;
          max-width: 590px;
        }
      }
    }
    .right__img-block {
      .right__img {
        right: 0;
        z-index: 2;
        top: -147px;
      }
      .right__bg {
        right: -200px;
        top: -300px;
        z-index: -1;
      }
    }
    .input__block {
      background-color: #fff;
      position: relative;
      z-index: 10;
      padding-block: 38px;
      padding-inline: 33px;
      margin-top: 90px;
      box-shadow: 0px 17px 56px rgba(110, 63, 244, 0.2);
      border-radius: 34px;
      max-width: 1340px;

      .dropdown {
        display: none;
      }

      .active {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }

      .first-input {
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 25px;
        width: 552px;
        padding-inline: 20px;
        height: 92px;
        font-size: 18px;
        background-color: rgba(210, 210, 210, 50%);
        color: #a7a7a7;
        outline: none;
      }
      .second-input {
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 25px;
        width: 370px;
        height: 92px;
        margin-left: 17px;
        margin-right: 17px;
        padding-inline: 20px;
        font-size: 18px;
        background-color: rgba(210, 210, 210, 50%);
        color: #a7a7a7;
        outline: none;
      }
      button {
        padding-block: 36px;
        padding-inline: 78px;
        color: #fff;
        font-weight: 600;
        background-color: #ea36e3;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        font-size: 18px;
      }
      .input__arrow {
        position: absolute;
        top: 83px;
        left: 580px;
        cursor: pointer;
      }
    }
  }

  .values {
    position: relative;
    margin-top: 370px;
    .bg-img-1 {
      position: absolute;
      right: -201px;
      bottom: -400px;
    }

    .values__left-block {
      position: relative;
      .values__pos-a-1 {
        position: absolute;
        top: -50px;
        left: 0;
      }
      .values__pos-a-2 {
        position: absolute;
        top: -120px;
        left: 100px;
      }
      .values__pos-a-3 {
        position: absolute;
        top: 205px;
        left: -20px;
      }
      .values__pos-a-4 {
        position: absolute;
        top: 330px;
        left: 0px;
      }
      .values__pos-a-5 {
        position: absolute;
        top: 290px;
        left: 240px;
      }
      .values__pos-a-6 {
        position: absolute;
        top: 520px;
        left: 240px;
      }
    }

    .values__right-title {
      font-size: 42px;
      color: #261163;
    }
    .values__right-subtitle {
      padding-bottom: 86px;
      font-size: 18px;
      max-width: 650px;
      margin-top: 31px;
      color: #a7a7a7;
    }
    .values__right-block {
      display: flex;
      flex-direction: column;
      gap: 43px;
      h3 {
        font-size: 22px;
        color: #261163;
      }
      p {
        font-size: 18px;
        color: #a7a7a7;
      }
      .value__right-textblock {
        margin-left: 32px;
      }
    }
    .our__value-text {
      font-size: 18px;
      color: #261163;
      margin-top: 49px;
    }
  }

  .advantages {
    margin-top: 400px;
    padding-block: 100px;
    padding-inline: 203px;
    background-color: #f8f6ff;
    border-radius: 80px;
    position: relative;
    .bg-img-2 {
      position: absolute;
      z-index: -2;
      left: -100px;
      top: 220px;
    }
    .bg-img-3 {
      position: absolute;
      right: -100px;
      bottom: -150px;
      z-index: -2;
    }

    .advantages__highblock {
      text-align: center;
      h3 {
        font-size: 42px;
        color: #261163;
      }
      p {
        font-size: 18px;
        color: #a7a7a7;
      }
    }
    .advantages__grid-card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 40px;
      grid-column-gap: 92px;
      padding-top: 73px;

      .card-1 {
        border: 3px solid #ffd2d2;
      }

      .card-2 {
        border: 3px solid #c7f5c3;
      }

      .card-3 {
        border: 3px solid #e5dcff;
      }

      .card-4 {
        border: 3px solid #fad2f8;
      }

      .card-5 {
        border: 3px solid #ffedbe;
      }

      .card-6 {
        border: 3px solid #d2f3f3;
      }

      .grid-card {
        padding-block: 70px;
        padding-inline: 36px;
        max-width: 274px;
        background-color: #fff;
        text-align: center;
        border-radius: 50px;

        h3 {
          margin-block: 30px;
          color: #261163;
        }
      }
    }
    .grid-subtitle {
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      margin-top: 70px;
      color: #6e3ff4;
    }
  }

  .reviews {
    .bg-img-4 {
      position: absolute;
      left: -210px;
      top: -70px;
    }

    .r-block {
      position: relative;
    }

    .reviews-highblock {
      padding-top: 233px;
      text-align: center;
      h3 {
        font-size: 42px;
        color: #261163;
      }
      p {
        font-size: 18px;
        color: #a7a7a7;
        margin-top: 23px;
      }
    }

    .reviews__subtitle {
      text-align: center;
      max-width: 635px;
      margin: 0 auto;
      font-size: 18px;
      color: #6e3ff4;
    }

    .card-block {
      box-shadow: 0px 17px 56px rgba(110, 63, 244, 0.1);
      border-radius: 44px;
      max-width: 764px;
      padding-block: 55px;
      padding-inline: 132px;
      margin-top: 76px;
      margin-left: 30px;
      margin-bottom: 144px;
      h3 {
        max-width: 400px;
        font-size: 22px;
        color: #261163;
        font-weight: 700;
      }
      p {
        font-size: 18px;
        color: #261163;
        margin-top: 26px;
        max-width: 430px;
      }
      .slider__bottom-block {
        margin-top: 60px;
        position: relative;
        img {
          position: absolute;
          right: -100px;
          bottom: -10px;
        }
        p {
          font-size: 16px;
          color: #6e3ff4;
        }
      }
    }

    .card-block-second {
      border-radius: 44px;
      max-width: 764px;
      display: flex;
      flex-direction: column;

      padding-block: 49px;
      padding-inline: 132px;
      margin-top: 76px;
      margin-left: 50px;
      background-image: url(../public/img/Slider/second-bg-video.png);
      background-repeat: no-repeat;
      background-size: cover;
      .slider-block {
        margin: 0 auto;
        margin-top: 70px;
        margin-bottom: 70px;
      }
      h3 {
        font-size: 22px;
        color: #fff;
      }
    }
  }

  .main-2 {
    .left-mainsecond-block {
      padding-top: 309px;
      h1 {
        font-size: 60px;
        font-weight: 600;
        color: #261163;
      }
      .left-mainsecond-title {
        font-size: 18px;
        color: #ea36e3;
        margin-top: 40px;
        margin-bottom: 40px;
      }
      p {
        color: #a7a7a7;
        font-size: 18px;
        max-width: 542px;
        width: 100%;
      }
    }

    .right-mainsecond-block {
      position: relative;
      .bg-main-1 {
        position: absolute;
        z-index: -2;
        right: -690px;
        top: 400px;
      }
      .bg-main-2 {
        position: absolute;
        z-index: -3;
        right: -900px;
        top: 200px;
      }
      .bg-main-3 {
        position: absolute;
        top: 120px;
        right: -800px;
      }
    }

    .input__block {
      margin-top: 100px;
      background-color: #fff;
      position: relative;
      z-index: 10;
      padding-block: 38px;
      padding-inline: 33px;
      box-shadow: 0px 17px 56px rgba(110, 63, 244, 0.2);
      border-radius: 34px;
      max-width: 1400px;
      position: relative;

      .first-input {
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 25px;
        width: 552px;
        padding-inline: 20px;
        height: 92px;
        font-size: 18px;
        background-color: rgba(210, 210, 210, 50%);
        color: #a7a7a7;
        outline: none;
      }
      .second-input {
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 25px;
        width: 370px;
        height: 92px;
        margin-left: 17px;
        margin-right: 17px;
        padding-inline: 20px;
        font-size: 18px;
        background-color: rgba(210, 210, 210, 50%);
        color: #a7a7a7;
        outline: none;
      }
      button {
        padding-block: 36px;
        padding-inline: 78px;
        color: #fff;
        font-weight: 600;
        background-color: #ea36e3;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        font-size: 18px;
      }
      .input__arrow {
        position: absolute;
        top: 83px;
        left: 580px;
        cursor: pointer;
      }
    }
  }

  .cost {
    margin-top: 400px;
    padding-block: 100px;
    padding-inline: 203px;
    background-color: #fff;
    border-radius: 80px;
    position: relative;
    box-shadow: 0px -4px 102px rgba(110, 63, 244, 0.15);
    .bg-img-2 {
      position: absolute;
      z-index: -2;
      left: -100px;
      top: -200px;
    }
    .bg-img-3 {
      position: absolute;
      right: -60px;
      bottom: 500px;
      z-index: -2;
    }

    .advantages__highblock {
      text-align: center;
      h3 {
        font-size: 42px;
        color: #261163;
      }
      p {
        font-size: 18px;
        color: #a7a7a7;
      }
    }
    .advantages__grid-card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 40px;
      grid-column-gap: 92px;
      padding-top: 73px;

      .grid-card {
        padding-block: 70px;
        padding-inline: 36px;
        max-width: 274px;
        background-color: #f8f6ff;
        text-align: center;
        border-radius: 50px;

        h3 {
          margin-block: 30px;
          color: #261163;
        }
      }
    }
    .grid-subtitle {
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      margin-top: 70px;
      color: #6e3ff4;
    }
  }

  .guarantees {
    padding-top: 309px;
    position: relative;
    .bg-1 {
      position: absolute;
      bottom: -600px;
      left: -210px;
    }

    .guarantees__wrapper {
      display: flex;
      flex-direction: row-reverse;
    }

    .guarantees__wrapper {
      position: relative;
      .values__pos-a-1 {
        position: absolute;
        right: 50px;
        top: -100px;
      }
      .values__pos-a-2 {
        position: absolute;
        right: 200px;
        top: 300px;
      }
      .values__pos-a-3 {
        position: absolute;
        right: -80px;
        top: 300px;
      }
      .values__pos-a-4 {
        position: absolute;
        right: 400px;
        top: 40px;
      }
      .values__pos-a-5 {
        position: absolute;
        right: -65px;
        top: 35px;
      }
      .values__pos-a-6 {
        position: absolute;
        right: 200px;
        top: 550px;
      }
    }

    .guarantees-title {
      font-size: 42px;
      color: #261163;
    }
    .guarantees-subtitle {
      padding-bottom: 86px;
      font-size: 18px;
      max-width: 650px;
      margin-top: 31px;
      color: #a7a7a7;
    }
    .guarantees-block {
      display: flex;
      flex-direction: column;
      gap: 43px;
      h3 {
        font-size: 22px;
        color: #261163;
      }
      p {
        font-size: 18px;
        color: #a7a7a7;
      }
      .guarantees-textblock {
        margin-left: 32px;

        span {
          color: #6e3ff4;
        }
      }
    }
    .guarantees-text {
      font-size: 18px;
      color: #261163;
      margin-top: 49px;
    }
  }
}

.how {
  position: relative;
  max-width: 1920px;
  height: 793px;
  background: #6e3ff4;
  margin: 0 auto;
  margin-top: 150px;
  .how-ellipse-1 {
    position: absolute;
    bottom: 0;
    right: 780px;
  }
  .how__highblock {
    text-align: center;
    padding-top: 131px;
    h3 {
      font-size: 42px;
      color: #fff;
      font-weight: 700;
      margin-bottom: 23px;
    }
    p {
      font-size: 18px;
      color: #ccbcfb;
      font-weight: 400;
      padding-bottom: 200px;
      margin: 0 auto;
    }
  }
  .how__block {
    max-width: 1150px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: flex-start;
    max-height: 237px;
    .how__card {
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;

      .how-1 {
        position: absolute;
        top: -100px;
        left: 10px;
      }
      .how-2 {
        position: absolute;
        top: -85px;
        left: 15px;
      }
      .how-3 {
        position: absolute;
        top: -85px;
        left: 25px;
      }
      .how-4 {
        position: absolute;
        top: -85px;
        left: 25px;
      }
      .how-5 {
        position: absolute;
        top: -100px;
        left: 10px;
      }
      .how-arrow-1 {
        position: absolute;
        top: -40px;
        left: 150px;
      }
      .how-arrow-2 {
        position: absolute;
        top: -40px;
        left: 130px;
      }
      .how-arrow-3 {
        position: absolute;
        top: -40px;
        left: 145px;
      }
      .how-arrow-4 {
        position: absolute;
        top: -40px;
        left: 145px;
      }

      h3 {
        color: #fff;
        margin-bottom: 14px;
        margin-top: 49px;
        font-size: 22px;
      }
      p {
        color: #ccbcfb;
        font-size: 16px;
        max-width: 216px;
        width: 100%;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}

.lets__start {
  z-index: 1;
  position: relative;
  max-width: 1920px;
  height: 724px;
  background: #261163;
  margin: 0 auto;

  .how-bg-1 {
    position: absolute;
    bottom: 0;
    right: 780px;
  }

  .how__highblock {
    text-align: center;
    padding-top: 100px;

    h3 {
      margin-top: 130px;
      font-size: 42px;
      color: #fff;
      font-weight: 700;
      margin-bottom: 23px;
    }
    p {
      font-size: 18px;
      color: #ccbcfb;
      font-weight: 400;
      padding-bottom: 200px;
      margin: 0 auto;
    }
  }

  .input__block {
    position: absolute;
    top: -100px;
    right: 0;
    background-color: #fff;
    position: relative;
    z-index: 10;
    padding-block: 38px;
    padding-inline: 33px;
    margin-top: 90px;
    box-shadow: 0px 17px 56px rgba(110, 63, 244, 0.2);
    border-radius: 34px;
    max-width: 1340px;
    margin: 0 auto;
    .dropdown {
      display: none;
    }

    .active {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }

    .first-input {
      border: 1px solid hsl(0, 0%, 80%);
      border-radius: 25px;
      width: 552px;
      padding-inline: 20px;
      height: 92px;
      font-size: 18px;
      background-color: rgba(210, 210, 210, 50%);
      color: #a7a7a7;
      outline: none;
    }
    .second-input {
      border: 1px solid hsl(0, 0%, 80%);
      border-radius: 25px;
      width: 370px;
      height: 92px;
      margin-left: 17px;
      margin-right: 17px;
      padding-inline: 20px;
      font-size: 18px;
      background-color: rgba(210, 210, 210, 50%);
      color: #a7a7a7;
      outline: none;
    }
    button {
      padding-block: 36px;
      padding-inline: 78px;
      color: #fff;
      font-weight: 600;
      background-color: #ea36e3;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      font-size: 18px;
    }
    .input__arrow {
      position: absolute;
      top: 83px;
      left: 580px;
      cursor: pointer;
    }
  }
}
